html, body {
    height: 100%;
}

#footer {
    background: url('/img/bg-head.jpg') 0 0 repeat;
    color: #92892a;
}

#footer span {
    display: block;
    padding: 20px 0;
    margin: 0 20px;
}

#push, #footer {
    height: 60px;
    margin-top: 20px;
}

.wrap-banner {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.navbar.navbar-app {
    background: url('/img/bg-head.jpg') 0 0 repeat;
    border: none;
    border-radius: 0;
}

.navbar.navbar-app .brand-section .navbar-header {
    background: url('/img/logo.png') no-repeat center 20px;
    min-height: 80px;
}

.navbar.navbar-app .brand-section span {
    color: #92892a;
}

.navbar.navbar-app .brand-section a.navbar-startgame {
    display: block;
    margin-right: 0px;
    margin-top: 18px;
}

#header-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#main-menu li a {
    color: #92892a;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

#main-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#main-menu-collapse {
    float: none;
    width: 100%;
}

#right-menu li a {
    white-space: nowrap;
    background: url('/img/bg-promo.jpg') 0 0 repeat-x;
    color: #666666;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .9px;
}

#feed-menu li a {
    background: url('/img/hdl-1.jpg') 0 0 repeat-x;
    color: #666666;
}

#feed-menu li.active a {
    background: url('/img/bg-promo.jpg') 0 0 repeat-x;
}

#category-menu li a {
    background: url('/img/hdl-1.jpg') 0 0 repeat-x;
    color: #666666;
    text-transform: uppercase;
    font-weight: 600;
}

#category-menu li.active a {
    background: url('/img/bg-promo.jpg') 0 0 repeat-x;
}

.feed-wrap {
    position: relative;
    margin-top: 40px;
    padding: 0 10px;
}

.feed-wrap.pinned {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 8px rgba(146, 137, 42, .3);
    box-shadow: 0 2px 8px rgba(146, 137, 42, .3);
    -webkit-box-shadow: 0 2px 8px rgba(146, 137, 42, .3);
    box-shadow: 0 2px 8px rgba(146, 137, 42, .3);
}

.feed-header .media-list {
    margin-top: 28px;
}

.feed-header {
    margin-top: 10px;
}

.feed-content > img {
    margin: 10px 0;
    display: block;
    width: 100% \9;
    max-width: 100% !important;
    height: auto;
}

.feed-footer {
    padding-bottom: 10px;
    height: 44px;
}

.feed-footer .btn {
    border-radius: 0;
}

.social-bar span {
    font-size: 28px;
    line-height: 34px;
    padding: 0 5px;
}

.social-bar {
    margin-left: 20px;
    color: #B0B0B0;
}

.social-bar i {
    cursor: pointer;
}

a#red, a#green{
	color: #B0B0B0;
}

.social-bar #red:hover {
	text-decoration: none;
    color: red;
}

.social-bar #green:hover {
	text-decoration: none;
    color: green;
}

.btn-vk {
    background-color: #2d6ca2;
    color: #fff;
    height: 34px;
    border-radius: 0;
}

.btn-vk:hover, .btn-vk:active {
    text-decoration: none;
    color: #fff;
}

.btn-read-more {
    color: #fff;
    background-color: #B0B0B0;
    height: 34px;
    border-radius: 0;
}

.btn-read-more:hover, .btn-read-more:active {
    color: #fff;
}

.btn-signin {
    background-color: #B0B0B0;
    height: 34px;
    border-radius: 0;
}

.form-comment textarea {
    border-radius: 0;
    min-height: 100px;
}
 .form-comment {
     margin-top: 15px;
 }
 
.form-signin, .form-registration, .form-invite {
    margin: 40px 0 20px;
}

.form-edit-post {
    margin: 20px 0;
}

.form-edit-post .footer {
    height: 40px;
    margin: 10px 0;
}

.form-edit-post .footer .btn {

    height: 34px;
    border-radius: 0;
}

.form-signin .btn-group .btn-group:first-child {
    padding-right: 5px;
}

.post-label {
    position: relative;
    display: none;
}

.btn-post-label {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(146, 137, 42, .3);

}

.form-signin input, .form-edit-post input, .form-registration input, .form-invite input {
    height: 38px;
    line-height: 38px;
    border-radius: 0;
    font-size: 12px;
    background: none;
    padding: 0 36px 0 16px;
    font-weight: 600;
}

.form-edit-post input {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}

a.btn-signin, a.btn-signin:hover, a.btn-signin:active {
    color: #333;
}

.form-signin .input-group, .form-edit-post .input-group, .form-registration .input-group, .form-invite .input-group {
    margin-bottom: 10px;
}

.form-signin .input-group-addon:first-child, .form-edit-post .input-group-addon:first-child, .form-registration .input-group-addon:first-child, .form-invite .input-group-addon:first-child {
    border-radius: 0;
}

.speed-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: -56px;
    height: 100%;
    width: 56px;
}

.speed-menu ul {
    background: url('/img/bg-promo.jpg') 0 0 repeat;
    color: white;
    padding: initial;
}

.speed-menu ul > li {
    margin: 5px 0 0 0;
    padding: 2px;
    display: block;
    cursor: pointer;
}

.speed-menu ul > li.separation {
    height: 5px;
    margin: 5px 0 0 0;
    background-color: #fff;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-menu-item {
    font-weight: 600;
    color: #92892a;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    cursor: pointer;
}

.ui-menu-item:hover {
    background-color: rgba(50, 50, 50, 0.25);
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.disabled a {
    pointer-events: none;
}

.navbar.no-script {
    margin: 0;
}

.no-script-text {
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 768px) {

    .feed-wrap:hover .speed-menu {
        display: block;
    }

    .post-label {
        display: block;
    }

    .navbar.navbar-app .brand-section .navbar-header {
        background: none;
    }

    .navbar.navbar-app .brand-section {
        background: url('/img/bg-head-in.jpg') no-repeat;
    }

    .navbar.navbar-app .brand-section a.navbar-brand {
        display: block;
        margin-left: 110px;
        margin-top: 18px;
    }

    #main-menu {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
        margin-top: 40px;
    }

    #main-menu li {
        border-right: 1px #92892a solid;
        white-space: nowrap;
    }

    #main-menu li.active {

    }

    #main-menu li:last-child {
        border-right: none;
    }

    #feed-menu li {
        padding-left: 10px;
    }

    #feed-menu li:first-child {
        padding-left: 0px;
    }
}
